html, body {
    width:100%;
    height: 100%;
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
/* body *{ border: 1px solid red;} */
.contentArea{
    width: 98%;
    margin: 1rem auto 2rem;
}
.contentArea .storyTitle{
    text-align: center;
    margin: 5px auto 10px;
}
.contentArea #content{
    width: 95%;
    max-width: 210mm;
    margin: 1rem auto 1rem;
    min-height: 1rem;
    padding: 3rem 2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.186);
    border-radius: 3px;
    box-shadow: 2px 2px 13px -3px rgba(0, 0, 0, 0.619);
    text-align: justify;
    font-size: 1rem;
}
nav{
    position: fixed;
    bottom:2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(127, 255, 212, 0.5);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 2px 2px 12px -3px rgba(0, 0, 0, 0.6);
}
nav .progressBarArea progress{
    margin: 5px 1rem;
    border-radius: 10px;
}
nav .inputArea input[type="text"]{
    width: 40rem;
    padding: 3px 5px;
    border-radius: 3px;
}


nav .inputArea{
    margin-top: 0.6rem;
}
nav .btnArea{
    margin-top: 10px;
}
.btnArea button{
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 4px;
}
/* flex styling start */
.progressBarArea{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.progressBarArea label{
    
}
.progressBarArea progress{
    flex: 1 ;
}
.inputArea div{
    display: flex;
    margin-bottom: 5px;
}
.inputArea label{
    flex: 1 1 20%;
}
.inputArea input{
    margin: auto 1rem;
}
.btnArea{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* flex styling end */